.process{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsla(0,0%,100%,.05);
    color: white;
    border-radius: 0.5rem;
    height: 5rem;
    container-name: process;
}
.process div{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
}

/* firt div in process */
.process div:first-child{
    margin-left: 1rem;
}

.big{
    font-weight: bold;
}

.medium{
    width:25% !important;
}

.small{
    width:10% !important;
}

.icon{
    cursor: pointer;
    font-size: 2rem;
    display: flex !important;
    flex-direction: column;
    margin: auto;
}

.icon:hover{
    background-color: hsla(0,0%,100%,.1);
}

.icon:last-child:hover{
    border-radius:0 0.5rem 0.5rem 0;
    background-color: hsla(0,0%,100%,.1);
}

.icon svg{
    height: 100%;
}

.monit{
    color: #97e9f7;
}

.restart{
    color: #7daafe;
}

.stop{
    color: #c68cfc;
}

@media only screen and (max-width: 900px) {
    .collapsible{
        display: none !important;
    }
}